<div class ="row">
	<div class="col-xs-4 col-md-4"><h1>Hi there!</h1></div>
</div>
<div class ="row">
	<div class="col-xs-4 col-md-8"><h3>Press the Login button to start!</h3></div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-md-4" ng-controller="MainController">
			<button id="authorize-button" class="btn btn-primary btn-lg" ng-click="handleAuthClick()">Login</button>
		</div>
		<div class="col-sm-4 col-md-4"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12"></div>
</div>